
.head3 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.main3 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.foot3 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}


.header1{
   margin: 10px;
   width: 400px;
   background-color: aqua;
   border:5px solid;
   border-color:black;
   display: flex;
   
}

.header2{
    margin: 10px;
    width: 400px;
    background-color:aquamarine;
    border:5px solid;
    border-color:black;
    display: flex;
    

}

.main1{
    margin: 10px;
    width: 400px;
    background-color:blueviolet;
    border:5px solid;
    border-color:black;
    display: flex;
}

.main2{
    margin: 10px;
    width: 400px;
    background-color:bisque;
    border:5px solid;
    border-color:black;
    display: flex;
}

.footer1{
    margin: 10px;
    width: 400px;
    background-color:azure;
    border:5px solid;
    border-color:black;
    display: flex;
}

.footer2{
    margin: 10px;
    width: 400px;
    background-color:green;
    border:5px solid;
    border-color:black;
    display: flex;
}